<section>
  <header class="header">
    <figure >
      <!--interpolation-->
      <img src="{{logoPath}}" class="logo">
    </figure>
    <h1 class="multicolortext">Global Trading</h1>
    <ul *ngIf="!isLogged">

      <li><a href="/Login"><h2 class="multicolortextul">Login</h2></a></li>

    </ul>
    <ul *ngIf="isLogged">

      <li><a href="#">
        <h2 class="multicolortextul">Logout</h2></a></li>
    </ul>


    <figure>
      <img src="{{banner}}" class="banner">
    </figure>
  </header>

  <!--placeholder-->

</section>
<router-outlet>

</router-outlet>
