<form [formGroup]="customerForm" (ngSubmit)="saveCustomer()" class="form">
  <fieldset>
    <legend>Customer Data Form</legend>
  <mat-form-field class="mat-full-width">
     <mat-placeholder>
       <mat-icon>
         person
       </mat-icon>
       First Name
     </mat-placeholder>
    <input type="text" matInput [formControl]="firstName" />
  </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-placeholder>
        <mat-icon>
          person
        </mat-icon>
        Middle Name
      </mat-placeholder>
      <input type="text" matInput [formControl]="middleName"/>
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-placeholder>
        <mat-icon>
          person
        </mat-icon>
        Last Name
      </mat-placeholder>
      <input type="text" matInput [formControl]="lastName"/>
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-placeholder>
        <mat-icon>
          person
        </mat-icon>
        Country
      </mat-placeholder>
      <input type="text" matInput [formControl]="country"/>
    </mat-form-field>
    <div class="button">
    <button mat-fab class="alert alert-primary">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-fab class="alert alert-danger" >
      <mat-icon>format_clear</mat-icon>
    </button>
    </div>
  </fieldset>
</form>
