<form [formGroup]="customerForm" (ngSubmit)="saveCustomer()" class="form">
  <fieldset>
    <legend>Customer Data Form</legend>
  <mat-form-field class="mat-full-width">
     <mat-placeholder>
       <mat-icon>
         person
       </mat-icon>
       First Name
     </mat-placeholder>
    <input type="text" matInput [formControl]="firstName" />
    <div [hidden]="firstName.valid" class="validation">
      <div [hidden]="!firstName.hasError('required')">
        FirstName is required.
      </div>
      <div [hidden]="!firstName.hasError('pattern')">
        Not matching pattern.</div>

    </div>
  </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-placeholder>
        <mat-icon>
          person
        </mat-icon>
        Middle Name
      </mat-placeholder>
      <input type="text" matInput [formControl]="middleName"/>
      <div [hidden]="middleName.valid" class="validation">


        <div [hidden]="!middleName.hasError('pattern')">
          Not matching pattern.</div>

      </div>
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-placeholder>
        <mat-icon>
          person
        </mat-icon>
        Last Name
      </mat-placeholder>
      <input type="text" matInput [formControl]="lastName"/>
      <div [hidden]="lastName.valid" class="validation">
        <div [hidden]="!lastName.hasError('required')">
          LastName is required.
        </div>
        <div [hidden]="!lastName.hasError('pattern')">
          Not matching pattern.</div>

      </div>
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <mat-placeholder>
        <mat-icon>
          person
        </mat-icon>
        Country
      </mat-placeholder>
      <mat-select [formControl]="country">

        <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
      </mat-select>
      <div [hidden]="country.valid" class="validation">
        <div [hidden]="!country.hasError('required')">
          Country is required.
        </div>
        <div [hidden]="!country.hasError('pattern')">
          Not matching pattern.</div>

      </div>
    </mat-form-field>
    <div class="button">
    <button mat-fab class="alert alert-primary"
            [disabled]="!customerForm.valid" *ngIf="!isSuccess">
      <mat-icon>save</mat-icon>
    </button>
    <button type="reset" mat-fab class="alert alert-danger" [disabled]="!customerForm.valid">
      <mat-icon>format_clear</mat-icon>
    </button>
    </div>
  </fieldset>
</form>
