.form{
  width:30%;
  margin-left: 30%;
  margin-top: 2%;
  font-size: large;
  font-weight: bold;
  background-color: aquamarine;

}
.mat-full-width {
  width: 100%;
}
mat-form-field{
  padding: 1%;
}
.form legend{
  text-align: center;
  color:darkorange;

}
.multicolortext {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;

  color: transparent;
  font-family: "Lucida Calligraphy"
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button{
  margin-right: 15%;
}

.validation
{
  margin-left: 20%;
  color:red;
  width:70%;
}

.search{
  display: flex;
  flex-direction: row;

  width:40%;
  margin-left: 25%;
  background-color:aquamarine;
  align-items: center;
  justify-content:space-around;
}
